.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 575px;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7); /* Light overlay */
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
  padding-right: 20px;
  max-width: 50%;
  color: #3573e6;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.register-btn {
  background-color: #10b981;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #1d4ed8;
}

.hero-image-full {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-full img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
/* Responsive styling */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .register-btn {
    padding: 10px 25px;
    font-size: 1rem;
  }

  .hero-image-full {
    max-width: 100%;
    margin-top: 20px;
  }

  .hero-image-full img {
    width: 90%;
  }
}
